
.location-filter-container {
   
  }
  

  .filter-button {
    margin-right: 10px; 
   
  }
  

  .form-label {
    font-weight: bold;
  }
  

  .form-control {
    margin-bottom: 10px; 
    width: 100%; 
  }
  

  .apply-button {
    background-color: #28a745; 
    color: white; 
  }
  